<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>



</head>

<body>
<form action="register" method="post" >
  {% csrf_token %}
  <div class="container">
    <h1>REGISTER</h1>
    <p>Please fill this form to create an account</p>


  <label>Username:</label><br>
  <input type="text" name="username" placeholder="Enter your username"><br><br>
  <label>First Name:</label><br>
  <input type="text" name="first_name" placeholder="Enter your first name"><br><br>
  <label>Last Name:</label><br>
  <input type="text" name="last_name" placeholder="Enter your last name"><br><br>
    <label>Email ID:</label><br>
  <input type="email" name="email" placeholder="Enter your email address"><br><br>
    <label>Password:</label><br>
  <input type="password" name="password" placeholder="Enter your password"><br><br>
    <label>Confirm Password:</label><br>
  <input type="password" name="password1" placeholder="Confirm your password"><br><br>

    <button type="submit" class="registration">Register</button>
  </div>

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>